n8n/workflows/SmartTender_WF1_Document_Ingestion.json
{
  "name": "WF-1 — Document Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-ingestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "smarttender-doc-ingest"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, document_id: $json.document_id }) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-image-mime",
              "leftValue": "={{ $json.file_type }}",
              "rightValue": "image",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "id": "cond-jpg",
              "leftValue": "={{ $json.filename }}",
              "rightValue": ".jpg",
              "operator": { "type": "string", "operation": "endsWith" }
            },
            {
              "id": "cond-png",
              "leftValue": "={{ $json.filename }}",
              "rightValue": ".png",
              "operator": { "type": "string", "operation": "endsWith" }
            },
            {
              "id": "cond-tiff",
              "leftValue": "={{ $json.filename }}",
              "rightValue": ".tiff",
              "operator": { "type": "string", "operation": "endsWith" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "node-detect-format",
      "name": "Detect Format",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/documents/{{ $json.document_id }}/file",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "node-fetch-file",
      "name": "Fetch File from Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 340],
      "notes": "Fetches the raw file from FastAPI. Backend must expose GET /documents/{id}/file that streams the binary. This is necessary because n8n cannot directly read files from another container volume."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:8001/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file", "value": "={{ $binary.data }}", "parameterType": "formBinaryData" },
            { "name": "document_id", "value": "={{ $('Webhook Trigger').item.json.document_id }}" },
            { "name": "extract_tables", "value": "true" },
            { "name": "extract_metadata", "value": "true" }
          ]
        },
        "options": { "timeout": 120000, "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "node-docling",
      "name": "Docling OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 340],
      "notes": "Timeout set to 120s. Docling returns: { pages: [{ page_num, blocks: [{ block_type, text, confidence, bbox }] }] }"
    },
    {
      "parameters": {
        "jsCode": "// Check if any page block has confidence < 0.70\nconst pages = $input.first().json.pages || [];\nconst lowConfPages = [];\n\nfor (const page of pages) {\n  const blocks = page.blocks || [];\n  const hasLowConf = blocks.some(b => (b.confidence ?? 1) < 0.70);\n  if (hasLowConf) {\n    lowConfPages.push({\n      page_num: page.page_num,\n      blocks: blocks,\n      document_id: $('Webhook Trigger').first().json.document_id\n    });\n  }\n}\n\n// Pass through all pages + flag low confidence ones\nreturn [{\n  json: {\n    all_pages: pages,\n    low_conf_pages: lowConfPages,\n    has_low_conf: lowConfPages.length > 0,\n    document_id: $('Webhook Trigger').first().json.document_id,\n    tender_id: $('Webhook Trigger').first().json.tender_id,\n    bidder_id: $('Webhook Trigger').first().json.bidder_id\n  }\n}];"
      },
      "id": "node-check-confidence",
      "name": "Check Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-low-conf",
              "leftValue": "={{ $json.has_low_conf }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "node-if-low-conf",
      "name": "Any Low Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 340]
    },
    {
      "parameters": {
        "jsCode": "// Build vision prompt payload for each low-confidence page\n// In production: render PDF page to base64 image via a helper endpoint\n// FastAPI endpoint: GET /documents/{id}/page/{num}/image?format=base64\nconst lowPages = $json.low_conf_pages || [];\nconst docId = $json.document_id;\n\nreturn lowPages.map(page => ({\n  json: {\n    document_id: docId,\n    page_num: page.page_num,\n    image_url: `http://backend:8000/api/v1/documents/${docId}/page/${page.page_num}/image`\n  }\n}));"
      },
      "id": "node-prep-vision",
      "name": "Prepare Vision Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 240],
      "notes": "Prepares one item per low-confidence page. FastAPI needs GET /documents/{id}/page/{n}/image endpoint that renders the PDF page and returns base64."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.image_url }}",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "node-fetch-page-image",
      "name": "Fetch Page as Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/gemma3:4B\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a document text extractor. Extract ALL text from the provided image exactly as it appears. Preserve numbers, dates, and currency values precisely. Return plain text only, no commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": { \"url\": \"data:image/jpeg;base64,{{ $json.base64_image }}\" }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this document page. Pay special attention to: currency values (₹ amounts), dates, certificate numbers, company names, and registration codes. Return raw text only.\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0\n}",
        "options": { "timeout": 90000 }
      },
      "id": "node-gemma-vision",
      "name": "Gemma3 Vision Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 240],
      "notes": "Uses ai/gemma3:4B (not llava — not available in Docker Model Runner). Temperature 0 for deterministic extraction. Timeout 90s."
    },
    {
      "parameters": {
        "jsCode": "// Merge gemma3 vision output back into page_blocks\nconst allPages = $('Check Confidence').first().json.all_pages;\nconst visionItems = $input.all();\n\n// Build a map of page_num -> vision text\nconst visionMap = {};\nfor (const item of visionItems) {\n  const pageNum = item.json.page_num;\n  const visionText = item.json.choices?.[0]?.message?.content || '';\n  visionMap[pageNum] = visionText;\n}\n\n// Replace low-confidence blocks with vision extraction\nconst mergedPages = allPages.map(page => {\n  if (visionMap[page.page_num]) {\n    return {\n      ...page,\n      blocks: [{\n        block_type: 'text',\n        text: visionMap[page.page_num],\n        confidence: 0.88,\n        source: 'gemma3_vision'\n      }]\n    };\n  }\n  return page;\n});\n\nreturn [{\n  json: {\n    all_pages: mergedPages,\n    document_id: $('Webhook Trigger').first().json.document_id,\n    tender_id: $('Webhook Trigger').first().json.tender_id,\n    bidder_id: $('Webhook Trigger').first().json.bidder_id\n  }\n}];"
      },
      "id": "node-merge-vision",
      "name": "Merge Vision Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 240]
    },
    {
      "parameters": {
        "jsCode": "// Pass pages straight through when all confidence >= 0.70\nconst data = $input.first().json;\nreturn [{ json: data }];"
      },
      "id": "node-pass-through",
      "name": "Pass Through (High Confidence)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 440]
    },
    {
      "parameters": {
        "jsCode": "// Assemble the full Structured Document Object\n// Receives from either merge-vision or pass-through path\nconst data = $input.first().json;\nconst webhookData = $('Webhook Trigger').first().json;\n\nconst allBlocks = [];\nfor (const page of (data.all_pages || [])) {\n  for (const block of (page.blocks || [])) {\n    allBlocks.push({\n      block_id: `${data.document_id}-p${page.page_num}-${allBlocks.length}`,\n      page_num: page.page_num,\n      block_type: block.block_type || 'text',\n      text: block.text || '',\n      confidence: block.confidence ?? 1.0,\n      source: block.source || 'docling',\n      bbox: block.bbox || null\n    });\n  }\n}\n\nconst sdo = {\n  document_id: data.document_id || webhookData.document_id,\n  tender_id: data.tender_id || webhookData.tender_id,\n  bidder_id: data.bidder_id || webhookData.bidder_id,\n  filename: webhookData.filename,\n  file_type: webhookData.file_type,\n  total_pages: (data.all_pages || []).length,\n  total_blocks: allBlocks.length,\n  blocks: allBlocks,\n  ingestion_timestamp: new Date().toISOString(),\n  input_hash: webhookData.input_hash || null\n};\n\nreturn [{ json: sdo }];"
      },
      "id": "node-assemble-sdo",
      "name": "Assemble SDO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 340],
      "notes": "Creates the canonical Structured Document Object. All downstream nodes work from this shape."
    },
    {
      "parameters": {
        "fieldToSplitOut": "blocks",
        "options": { "reset": false }
      },
      "id": "node-split-blocks",
      "name": "Split Blocks for Embedding",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [2660, 340],
      "notes": "Splits the blocks array into individual items so each block gets embedded separately."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/nomic-embed-text\",\n  \"input\": \"{{ $json.text }}\"\n}",
        "options": { "timeout": 30000 }
      },
      "id": "node-embed",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 340],
      "notes": "Calls nomic-embed-text via Docker Model Runner. Returns 768-dim vector in data[0].embedding."
    },
    {
      "parameters": {
        "jsCode": "// Attach embedding vector back onto the block\nconst block = $input.first().json;\nconst embeddingResponse = block; // HTTP response is inline\nconst vector = block.data?.[0]?.embedding || [];\n\n// Grab original block data passed through the split\n// We need to carry forward the block metadata\nreturn [{\n  json: {\n    block_id: block.block_id,\n    document_id: block.document_id,\n    tender_id: block.tender_id,\n    bidder_id: block.bidder_id,\n    page_num: block.page_num,\n    block_type: block.block_type,\n    text: block.text,\n    confidence: block.confidence,\n    vector: vector\n  }\n}];"
      },
      "id": "node-attach-vector",
      "name": "Attach Vector to Block",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 340]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/tender_docs/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": \"{{ $json.block_id }}\",\n      \"vector\": {{ JSON.stringify($json.vector) }},\n      \"payload\": {\n        \"document_id\": \"{{ $json.document_id }}\",\n        \"tender_id\": \"{{ $json.tender_id }}\",\n        \"bidder_id\": \"{{ $json.bidder_id }}\",\n        \"page_num\": {{ $json.page_num }},\n        \"block_type\": \"{{ $json.block_type }}\",\n        \"text\": \"{{ $json.text.replace(/\"/g, '\\\\\"') }}\",\n        \"confidence\": {{ $json.confidence }}\n      }\n    }\n  ]\n}",
        "options": {
          "timeout": 10000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-qdrant-upsert",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 340],
      "notes": "PUT is idempotent — safe to re-run. If 404 (collection missing), the Init Qdrant Collection node must run first."
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all items back and build the final SDO\n// At this point all blocks have been embedded and upserted\n// We now POST the full SDO to FastAPI\nconst allItems = $input.all();\n\n// Reconstruct SDO from the split items\nconst first = allItems[0]?.json || {};\nconst sdo = {\n  document_id: first.document_id,\n  tender_id: first.tender_id,\n  bidder_id: first.bidder_id,\n  total_blocks: allItems.length,\n  blocks_upserted_to_qdrant: allItems.length,\n  ingestion_complete: true,\n  completed_at: new Date().toISOString()\n};\n\nreturn [{ json: sdo }];"
      },
      "id": "node-aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 340],
      "notes": "Collects all per-block results after the loop. Builds completion payload for FastAPI."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/ingestion-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      },
      "id": "node-post-sdo",
      "name": "POST Completion to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3760, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/audit-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"document_ingestion_complete\",\n  \"actor\": \"n8n_wf1\",\n  \"object_id\": \"{{ $json.document_id }}\",\n  \"object_type\": \"document\",\n  \"detail\": {\n    \"blocks_processed\": {{ $json.total_blocks }},\n    \"blocks_upserted\": {{ $json.blocks_upserted_to_qdrant }},\n    \"completed_at\": \"{{ $json.completed_at }}\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "node-audit",
      "name": "Write Audit Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3980, 340]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/tender_docs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {
          "timeout": 10000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-init-qdrant",
      "name": "Init Qdrant Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 540],
      "notes": "Run this manually ONCE before first use, or add it before the Docling node with continueOnFail: true. Creates the tender_docs collection with 768-dim Cosine vectors."
    },
    {
      "parameters": {
        "errorMessage": "Docling OCR failed. Check: (1) Docling container is running on :8001, (2) file was fetched from backend correctly, (3) timeout is set to 120000ms."
      },
      "id": "node-error-docling",
      "name": "Docling Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond Immediately", "type": "main", "index": 0 },
          { "node": "Detect Format", "type": "main", "index": 0 }
        ]
      ]
    },
    "Detect Format": {
      "main": [
        [{ "node": "Fetch File from Backend", "type": "main", "index": 0 }],
        [{ "node": "Fetch File from Backend", "type": "main", "index": 0 }]
      ]
    },
    "Fetch File from Backend": {
      "main": [
        [{ "node": "Docling OCR", "type": "main", "index": 0 }]
      ]
    },
    "Docling OCR": {
      "main": [
        [{ "node": "Check Confidence", "type": "main", "index": 0 }]
      ]
    },
    "Check Confidence": {
      "main": [
        [{ "node": "Any Low Confidence?", "type": "main", "index": 0 }]
      ]
    },
    "Any Low Confidence?": {
      "main": [
        [{ "node": "Prepare Vision Input", "type": "main", "index": 0 }],
        [{ "node": "Pass Through (High Confidence)", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Vision Input": {
      "main": [
        [{ "node": "Fetch Page as Image", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Page as Image": {
      "main": [
        [{ "node": "Gemma3 Vision Fallback", "type": "main", "index": 0 }]
      ]
    },
    "Gemma3 Vision Fallback": {
      "main": [
        [{ "node": "Merge Vision Output", "type": "main", "index": 0 }]
      ]
    },
    "Merge Vision Output": {
      "main": [
        [{ "node": "Assemble SDO", "type": "main", "index": 0 }]
      ]
    },
    "Pass Through (High Confidence)": {
      "main": [
        [{ "node": "Assemble SDO", "type": "main", "index": 0 }]
      ]
    },
    "Assemble SDO": {
      "main": [
        [{ "node": "Split Blocks for Embedding", "type": "main", "index": 0 }]
      ]
    },
    "Split Blocks for Embedding": {
      "main": [
        [{ "node": "Generate Embedding", "type": "main", "index": 0 }]
      ]
    },
    "Generate Embedding": {
      "main": [
        [{ "node": "Attach Vector to Block", "type": "main", "index": 0 }]
      ]
    },
    "Attach Vector to Block": {
      "main": [
        [{ "node": "Upsert to Qdrant", "type": "main", "index": 0 }]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        [{ "node": "Aggregate Results", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate Results": {
      "main": [
        [{ "node": "POST Completion to FastAPI", "type": "main", "index": 0 }]
      ]
    },
    "POST Completion to FastAPI": {
      "main": [
        [{ "node": "Write Audit Event", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "smarttender" }, { "name": "wf1-ingestion" }],
  "triggerCount": 0,
  "updatedAt": "2026-04-23T00:00:00.000Z",
  "versionId": "v1"
}
