n8n/workflows/SmartTender_WF2_Criteria_Extraction.json
{
  "name": "WF-2 — Criteria Extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criteria-extraction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "smarttender-criteria-extract"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, tender_id: $json.tender_id, status: 'processing' }) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/documents/{{ $json.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-fetch-doc",
      "name": "Fetch Tender Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Fetches the full Structured Document Object from FastAPI. Expects shape: { id, tender_id, page_blocks: [{ page_num, block_index, text, block_type, confidence }] }"
    },
    {
      "parameters": {
        "jsCode": "// Flatten and sort all page blocks into a single tender_text string.\n// Prioritise sections likely to contain eligibility criteria.\nconst doc = $input.first().json;\nconst blocks = doc.blocks || doc.page_blocks || [];\n\nconst ELIGIBILITY_KEYWORDS = [\n  'eligibility', 'eligible', 'criteria', 'qualification',\n  'shall', 'must', 'mandatory', 'required', 'turnover',\n  'experience', 'similar work', 'registration', 'certificate'\n];\n\n// Sort by page then block order\nconst sorted = [...blocks].sort(\n  (a, b) => (a.page_num - b.page_num) || ((a.block_index ?? 0) - (b.block_index ?? 0))\n);\n\n// Full text\nconst full_text = sorted.map(b => b.text || '').join('\\n\\n');\n\n// Rough token estimate (1 token ≈ 4 chars)\nconst TOKEN_LIMIT = 12000;\nconst CHAR_LIMIT = TOKEN_LIMIT * 4;\n\nlet tender_text = full_text;\n\nif (full_text.length > CHAR_LIMIT) {\n  // Over budget — keep only eligibility-relevant blocks\n  const relevant = sorted.filter(b => {\n    const t = (b.text || '').toLowerCase();\n    return ELIGIBILITY_KEYWORDS.some(kw => t.includes(kw));\n  });\n  tender_text = relevant.map(b => b.text || '').join('\\n\\n');\n\n  // If still over, hard truncate\n  if (tender_text.length > CHAR_LIMIT) {\n    tender_text = tender_text.substring(0, CHAR_LIMIT);\n  }\n}\n\nreturn [{\n  json: {\n    tender_text,\n    tender_id: doc.tender_id || $('Webhook Trigger').first().json.tender_id,\n    document_id: doc.id || $('Webhook Trigger').first().json.document_id,\n    total_blocks: blocks.length,\n    text_length: tender_text.length,\n    truncated: full_text.length > CHAR_LIMIT\n  }\n}];"
      },
      "id": "node-concat-text",
      "name": "Concatenate & Trim Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Joins all blocks in page order. If text exceeds ~12k tokens, filters to eligibility-relevant blocks only. Logs truncation flag for audit."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/mistral-7b-instruct-q4\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a government procurement document parser specialised in Indian tender documents.\\nYour ONLY job is to extract eligibility criteria from the tender text provided.\\n\\nRULES:\\n- Return ONLY a valid JSON array. No explanation. No markdown fences. No text before or after.\\n- Start your response with [ and end with ]\\n- Every object must have ALL of these exact fields:\\n  {\\n    \\\"criterion_id\\\": \\\"C-1\\\",\\n    \\\"name\\\": \\\"short name, max 5 words\\\",\\n    \\\"type\\\": \\\"financial | technical | compliance | certification\\\",\\n    \\\"description\\\": \\\"full requirement exactly as stated in tender\\\",\\n    \\\"threshold_value\\\": 14000000,\\n    \\\"threshold_unit\\\": \\\"INR | count | years | boolean | text\\\",\\n    \\\"mandatory\\\": true,\\n    \\\"source_section\\\": \\\"Section 4.2\\\",\\n    \\\"source_text\\\": \\\"exact sentence from tender that states this criterion\\\",\\n    \\\"confidence\\\": 0.95\\n  }\\n- If threshold is not numeric, set threshold_value to null\\n- If mandatory status is genuinely unclear, set mandatory to null and confidence below 0.80\\n- Number criteria sequentially: C-1, C-2, C-3...\\n- Do NOT include criteria that are instructions, formatting, or boilerplate — only genuine eligibility gates\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract all eligibility criteria from this tender document:\\n\\n{{ $json.tender_text }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-extract-criteria",
      "name": "Extract Criteria (Mistral)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Timeout 120s — Mistral on CPU takes 30–90s on long prompts. Temperature 0.1 for near-deterministic JSON output."
    },
    {
      "parameters": {
        "jsCode": "// Strip markdown fences and parse the JSON array from Mistral's response.\n// Mistral-7b almost always wraps output in ```json ... ``` — handle it every time.\n\nconst response = $input.first().json;\nconst tender_id = $('Concatenate & Trim Text').first().json.tender_id;\nconst document_id = $('Concatenate & Trim Text').first().json.document_id;\n\nlet raw = response.choices?.[0]?.message?.content || '';\n\n// Step 1: Strip markdown fences (```json ... ``` or ``` ... ```)\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\n// Step 2: Find the first [ and last ] to isolate the array\nconst arrayStart = raw.indexOf('[');\nconst arrayEnd = raw.lastIndexOf(']');\n\nif (arrayStart === -1 || arrayEnd === -1) {\n  return [{ json: {\n    parse_error: true,\n    error: 'No JSON array found in response',\n    raw_output: raw,\n    tender_id,\n    document_id\n  }}];\n}\n\nraw = raw.substring(arrayStart, arrayEnd + 1);\n\n// Step 3: Fix common Mistral JSON mistakes\n// Trailing commas before ] or }\nraw = raw.replace(/,\\s*([\\]\\}])/g, '$1');\n// Single quotes → double quotes (rare but happens)\nraw = raw.replace(/'/g, '\"');\n\ntry {\n  const criteria = JSON.parse(raw);\n\n  if (!Array.isArray(criteria)) {\n    throw new Error('Parsed value is not an array');\n  }\n\n  if (criteria.length === 0) {\n    throw new Error('Empty criteria array — model may have misunderstood the prompt');\n  }\n\n  // Validate each criterion has required fields\n  const required = ['criterion_id', 'name', 'type', 'description', 'mandatory', 'source_section', 'confidence'];\n  const invalid = criteria.filter(c => required.some(f => c[f] === undefined));\n\n  if (invalid.length > 0) {\n    return [{ json: {\n      parse_error: true,\n      error: `${invalid.length} criteria missing required fields`,\n      raw_output: raw,\n      partial_criteria: criteria,\n      tender_id,\n      document_id\n    }}];\n  }\n\n  return [{ json: { criteria, parse_error: false, tender_id, document_id } }];\n\n} catch (e) {\n  return [{ json: {\n    parse_error: true,\n    error: e.message,\n    raw_output: raw,\n    tender_id,\n    document_id\n  }}];\n}"
      },
      "id": "node-parse-json",
      "name": "Parse & Validate JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Strips fences, isolates array, fixes trailing commas and single quotes, validates required fields. Returns parse_error:true on any failure so the IF node can route to retry."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-parse-error",
              "leftValue": "={{ $json.parse_error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "node-if-parse-error",
      "name": "Parse Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/mistral-7b-instruct-q4\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a JSON-only output machine. Your previous response failed to parse as valid JSON.\\nReturn ONLY a raw JSON array starting with [ and ending with ].\\nNo markdown. No code fences. No explanation. No text before [. No text after ].\\nIf you add ANY text outside the array, the system will crash.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Your previous attempt produced this invalid output:\\n\\n{{ $json.raw_output }}\\n\\nThe error was: {{ $json.error }}\\n\\nFix it. Return ONLY the corrected JSON array of eligibility criteria. Start with [.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-retry-extract",
      "name": "Retry — Strict Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180],
      "notes": "Retry with temperature 0.0 and more aggressive JSON-only instruction. Passes the failed raw output and error message so the model knows what to fix."
    },
    {
      "parameters": {
        "jsCode": "// Same parse logic as Node 5 — applied to the retry response\nconst response = $input.first().json;\nconst tender_id = $('Concatenate & Trim Text').first().json.tender_id;\nconst document_id = $('Concatenate & Trim Text').first().json.document_id;\n\nlet raw = response.choices?.[0]?.message?.content || '';\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nconst arrayStart = raw.indexOf('[');\nconst arrayEnd = raw.lastIndexOf(']');\n\nif (arrayStart === -1 || arrayEnd === -1) {\n  // Both attempts failed — POST failure to FastAPI and stop\n  return [{ json: {\n    extraction_failed: true,\n    error: 'Both extraction attempts failed to produce valid JSON',\n    tender_id,\n    document_id\n  }}];\n}\n\nraw = raw.substring(arrayStart, arrayEnd + 1);\nraw = raw.replace(/,\\s*([\\]\\}])/g, '$1');\n\ntry {\n  const criteria = JSON.parse(raw);\n  if (!Array.isArray(criteria) || criteria.length === 0) throw new Error('Empty or non-array');\n  return [{ json: { criteria, parse_error: false, tender_id, document_id } }];\n} catch (e) {\n  return [{ json: {\n    extraction_failed: true,\n    error: `Retry also failed: ${e.message}`,\n    raw_output: raw,\n    tender_id,\n    document_id\n  }}];\n}"
      },
      "id": "node-parse-retry",
      "name": "Parse Retry Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-extract-failed",
              "leftValue": "={{ $json.extraction_failed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "node-if-retry-failed",
      "name": "Retry Also Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/criteria-extraction-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tender_id\": \"{{ $json.tender_id }}\",\n  \"document_id\": \"{{ $json.document_id }}\",\n  \"error\": \"{{ $json.error }}\",\n  \"fallback\": \"manual_entry_required\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "node-post-failure",
      "name": "POST Failure to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 100],
      "notes": "Tells FastAPI both attempts failed. UI will show a manual criteria entry form as fallback. Evaluation cannot proceed until officer manually enters criteria."
    },
    {
      "parameters": {
        "jsCode": "// Add UUIDs, order_index, and status to each criterion\n// Merge from either the first-attempt or retry path\nconst input = $input.first().json;\nconst criteria = input.criteria || [];\nconst tender_id = input.tender_id;\nconst document_id = input.document_id;\n\nconst result = criteria.map((c, i) => ({\n  id: crypto.randomUUID(),\n  tender_id,\n  document_id,\n  order_index: i,\n  status: 'pending_review',   // Officer must review before evaluation starts\n  extracted_by: 'mistral-7b-instruct-q4',\n  extracted_at: new Date().toISOString(),\n  // Spread all model-extracted fields\n  criterion_id: c.criterion_id || `C-${i + 1}`,\n  name: c.name,\n  type: c.type,\n  description: c.description,\n  threshold_value: c.threshold_value ?? null,\n  threshold_unit: c.threshold_unit ?? null,\n  mandatory: c.mandatory ?? null,\n  source_section: c.source_section ?? null,\n  source_text: c.source_text ?? null,\n  confidence: c.confidence ?? 0.5,\n  requires_human_review: (c.mandatory === null) || (c.confidence < 0.80)\n}));\n\nreturn [{ json: { tender_id, document_id, criteria: result, total: result.length } }];"
      },
      "id": "node-assign-uuids",
      "name": "Assign UUIDs & Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "notes": "Adds UUID per criterion, order_index for stable sorting, status:pending_review so officer must confirm before WF-3 starts, and requires_human_review flag for ambiguous mandatory fields."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/criteria-extracted",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-post-criteria",
      "name": "POST Criteria to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300],
      "notes": "FastAPI stores criteria in the criteria table. UI polls for status change from 'processing' to 'pending_review' and shows the criteria list to the officer."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/audit-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"criteria_extraction_complete\",\n  \"actor\": \"n8n_wf2\",\n  \"object_id\": \"{{ $('Assign UUIDs & Metadata').first().json.tender_id }}\",\n  \"object_type\": \"tender\",\n  \"detail\": {\n    \"total_criteria\": {{ $('Assign UUIDs & Metadata').first().json.total }},\n    \"requires_review_count\": {{ $('Assign UUIDs & Metadata').first().json.criteria.filter(c => c.requires_human_review).length }},\n    \"model\": \"mistral-7b-instruct-q4\",\n    \"document_id\": \"{{ $('Assign UUIDs & Metadata').first().json.document_id }}\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "node-audit",
      "name": "Write Audit Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond Immediately", "type": "main", "index": 0 },
          { "node": "Fetch Tender Document", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Tender Document": {
      "main": [
        [{ "node": "Concatenate & Trim Text", "type": "main", "index": 0 }]
      ]
    },
    "Concatenate & Trim Text": {
      "main": [
        [{ "node": "Extract Criteria (Mistral)", "type": "main", "index": 0 }]
      ]
    },
    "Extract Criteria (Mistral)": {
      "main": [
        [{ "node": "Parse & Validate JSON", "type": "main", "index": 0 }]
      ]
    },
    "Parse & Validate JSON": {
      "main": [
        [{ "node": "Parse Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Parse Failed?": {
      "main": [
        [{ "node": "Retry — Strict Prompt", "type": "main", "index": 0 }],
        [{ "node": "Assign UUIDs & Metadata", "type": "main", "index": 0 }]
      ]
    },
    "Retry — Strict Prompt": {
      "main": [
        [{ "node": "Parse Retry Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Retry Response": {
      "main": [
        [{ "node": "Retry Also Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Retry Also Failed?": {
      "main": [
        [{ "node": "POST Failure to FastAPI", "type": "main", "index": 0 }],
        [{ "node": "Assign UUIDs & Metadata", "type": "main", "index": 0 }]
      ]
    },
    "Assign UUIDs & Metadata": {
      "main": [
        [{ "node": "POST Criteria to FastAPI", "type": "main", "index": 0 }]
      ]
    },
    "POST Criteria to FastAPI": {
      "main": [
        [{ "node": "Write Audit Event", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "smarttender" }, { "name": "wf2-criteria" }],
  "triggerCount": 0,
  "updatedAt": "2026-04-23T00:00:00.000Z",
  "versionId": "v1"
}
