n8n/workflows/SmartTender_WF4_Verdict_Engine.json
{
  "name": "WF-4 — Verdict Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verdict-engine",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "smarttender-verdict-engine"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, tender_id: $json.tender_id, status: 'verdict_processing' }) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/criteria?tender_id={{ $json.tender_id }}&status=confirmed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Accept", "value": "application/json" }]
        },
        "options": { "timeout": 15000, "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "node-fetch-criteria",
      "name": "Fetch All Criteria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Fetch all confirmed criteria for this tender. Used to build the full criterion map for each bidder."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/evidence?tender_id={{ $('Webhook Trigger').first().json.tender_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Accept", "value": "application/json" }]
        },
        "options": { "timeout": 15000, "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "node-fetch-evidence",
      "name": "Fetch All Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 440],
      "notes": "Fetches ALL evidence for this tender in one call. FastAPI returns a flat array filtered by tender_id. We join to criteria in the next Code node."
    },
    {
      "parameters": {
        "jsCode": "// Join criteria + evidence into (bidder, criterion, evidence) triplets.\n// One item per (bidder_id × criterion_id) pair — ready for the verdict loop.\n\nconst webhookData = $('Webhook Trigger').first().json;\nconst bidder_ids = webhookData.bidder_ids || [];\nconst tender_id = webhookData.tender_id;\n\nconst criteriaRaw = $('Fetch All Criteria').first().json;\nconst criteria = Array.isArray(criteriaRaw) ? criteriaRaw : (criteriaRaw.criteria || []);\n\nconst evidenceRaw = $('Fetch All Evidence').first().json;\nconst evidenceList = Array.isArray(evidenceRaw) ? evidenceRaw : (evidenceRaw.evidence || []);\n\n// Build lookup: bidder_id + criterion_id -> evidence\nconst evidenceMap = {};\nfor (const e of evidenceList) {\n  const key = `${e.bidder_id}__${e.criterion_id}`;\n  evidenceMap[key] = e;\n}\n\nconst tender_submission_date = webhookData.submission_date || null;\n\nconst pairs = [];\nfor (const bidder_id of bidder_ids) {\n  for (const criterion of criteria) {\n    const key = `${bidder_id}__${criterion.id}`;\n    const evidence = evidenceMap[key] || null;\n\n    pairs.push({\n      tender_id,\n      bidder_id,\n      tender_submission_date,\n      criterion_id: criterion.id,\n      criterion_name: criterion.name,\n      criterion_type: criterion.type,          // financial|technical|compliance|certification\n      threshold_value: criterion.threshold_value ?? null,\n      threshold_unit: criterion.threshold_unit ?? null,\n      mandatory: criterion.mandatory,\n      source_section: criterion.source_section,\n      // Evidence fields — null if not found\n      evidence_id: evidence?.id ?? null,\n      extracted_value: evidence?.value ?? null,\n      extracted_unit: evidence?.unit ?? null,\n      extracted_confidence: evidence?.confidence ?? 0.0,\n      quoted_text: evidence?.quoted_text ?? null,\n      source_page: evidence?.source_page ?? null,\n      not_found_reason: evidence?.not_found_reason ?? null,\n      evidence_missing: evidence === null || evidence?.value === null\n    });\n  }\n}\n\nreturn pairs.map(p => ({ json: p }));"
      },
      "id": "node-build-pairs",
      "name": "Build Evidence-Criterion Pairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 370],
      "notes": "Joins criteria and evidence into flat triplets. Sets evidence_missing:true when evidence is null or value is null. This is the single source of truth for the rule layer."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-split",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 370]
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════\n// RULE LAYER — runs before any LLM call.\n// Handles: missing evidence, numeric, certification\n// date expiry, compliance boolean.\n// Returns verdict or 'needs_llm' for semantic cases.\n// ════════════════════════════════════════════════\n\nconst p = $input.first().json;\n\n// Helper: normalise Indian number formats to float\n// Handles: \"50,00,000\" / \"₹1.4 crore\" / \"1.4 crores\" / \"140 lakhs\"\nfunction toFloat(val) {\n  if (val === null || val === undefined) return null;\n  if (typeof val === 'number') return val;\n  let s = String(val).toLowerCase();\n  // Remove currency symbols and spaces\n  s = s.replace(/[₹$,\\s]/g, '');\n  // Crore conversion\n  if (s.includes('crore')) {\n    const n = parseFloat(s.replace(/crores?/, ''));\n    return isNaN(n) ? null : n * 10000000;\n  }\n  // Lakh conversion\n  if (s.includes('lakh')) {\n    const n = parseFloat(s.replace(/lakhs?/, ''));\n    return isNaN(n) ? null : n * 100000;\n  }\n  const n = parseFloat(s);\n  return isNaN(n) ? null : n;\n}\n\n// Helper: parse date string to comparable value\nfunction parseDate(val) {\n  if (!val) return null;\n  const d = new Date(val);\n  return isNaN(d.getTime()) ? null : d;\n}\n\nfunction makeVerdict(verdict, reason, confidence, method) {\n  return {\n    ...p,\n    verdict,\n    reason,\n    verdict_confidence: confidence,\n    verdict_method: method,\n    needs_llm: false,\n    decided_at: new Date().toISOString()\n  };\n}\n\n// ── Rule 1: Evidence completely missing ──────────\nif (p.evidence_missing) {\n  return [{ json: makeVerdict(\n    'MANUAL_REVIEW',\n    p.not_found_reason || 'No evidence found in bidder submitted documents',\n    1.0,\n    'rule_missing'\n  )}];\n}\n\n// ── Rule 2: Low extraction confidence ───────────\n// Skip rules entirely if confidence is too low\nif (p.extracted_confidence < 0.60) {\n  return [{ json: {\n    ...p,\n    verdict: null,\n    needs_llm: true,\n    llm_reason: `Extraction confidence too low (${p.extracted_confidence}) — needs LLM review`,\n    decided_at: new Date().toISOString()\n  }}];\n}\n\n// ── Rule 3: Financial / numeric threshold ────────\nif (p.criterion_type === 'financial') {\n  const extracted = toFloat(p.extracted_value);\n  const threshold = toFloat(p.threshold_value);\n\n  if (extracted === null) {\n    return [{ json: makeVerdict(\n      'MANUAL_REVIEW',\n      `Could not parse extracted value \"${p.extracted_value}\" as a number`,\n      0.9,\n      'rule_parse_failed'\n    )}];\n  }\n\n  if (threshold === null) {\n    // No threshold to compare — needs LLM\n    return [{ json: { ...p, verdict: null, needs_llm: true, llm_reason: 'Financial criterion has no numeric threshold — semantic review needed', decided_at: new Date().toISOString() } }];\n  }\n\n  // High-confidence rule decision\n  if (p.extracted_confidence >= 0.80) {\n    const pass = extracted >= threshold;\n    return [{ json: makeVerdict(\n      pass ? 'ELIGIBLE' : 'INELIGIBLE',\n      pass\n        ? `Extracted value ${extracted} meets threshold ${threshold} ${p.threshold_unit || ''}`\n        : `Extracted value ${extracted} is below threshold ${threshold} ${p.threshold_unit || ''}`,\n      0.95,\n      'rule_numeric'\n    )}];\n  }\n\n  // Borderline confidence — send to LLM\n  return [{ json: { ...p, needs_llm: true, llm_reason: `Numeric comparison clear but extraction confidence ${p.extracted_confidence} is borderline`, decided_at: new Date().toISOString() } }];\n}\n\n// ── Rule 4: Certification expiry date ────────────\nif (p.criterion_type === 'certification') {\n  // extracted_value should be the expiry date of the certificate\n  const expiryDate = parseDate(p.extracted_value);\n  const submissionDate = p.tender_submission_date ? parseDate(p.tender_submission_date) : new Date();\n\n  if (expiryDate === null) {\n    return [{ json: { ...p, verdict: null, needs_llm: true, llm_reason: `Could not parse certificate expiry date from \"${p.extracted_value}\"`, decided_at: new Date().toISOString() } }];\n  }\n\n  const isValid = expiryDate > submissionDate;\n  return [{ json: makeVerdict(\n    isValid ? 'ELIGIBLE' : 'INELIGIBLE',\n    isValid\n      ? `Certificate valid until ${p.extracted_value} — beyond submission date`\n      : `Certificate EXPIRED on ${p.extracted_value} — before submission date`,\n    0.99,\n    'rule_date'\n  )}];\n}\n\n// ── Rule 5: Compliance (GST / EPFO / ESIC) ───────\nif (p.criterion_type === 'compliance') {\n  const val = String(p.extracted_value || '').toLowerCase().trim();\n  const POSITIVE = ['yes', 'true', '1', 'active', 'registered', 'valid', 'present'];\n  const NEGATIVE = ['no', 'false', '0', 'inactive', 'cancelled', 'expired', 'absent'];\n\n  if (POSITIVE.some(v => val.includes(v))) {\n    return [{ json: makeVerdict('ELIGIBLE', `Registration/compliance confirmed: \"${p.extracted_value}\"`, 0.95, 'rule_boolean') }];\n  }\n  if (NEGATIVE.some(v => val.includes(v))) {\n    return [{ json: makeVerdict('INELIGIBLE', `Registration/compliance failed: \"${p.extracted_value}\"`, 0.95, 'rule_boolean') }];\n  }\n  // Value present but not clearly positive/negative — LLM needed\n  return [{ json: { ...p, verdict: null, needs_llm: true, llm_reason: `Compliance value \"${p.extracted_value}\" is ambiguous — not a clear yes/no`, decided_at: new Date().toISOString() } }];\n}\n\n// ── Rule 6: Technical (similar work, scope) ───────\n// Always goes to LLM — semantic judgment required\nif (p.criterion_type === 'technical') {\n  return [{ json: { ...p, verdict: null, needs_llm: true, llm_reason: 'Technical criterion requires semantic similarity judgment', decided_at: new Date().toISOString() } }];\n}\n\n// ── Fallback: unknown type → LLM ─────────────────\nreturn [{ json: { ...p, verdict: null, needs_llm: true, llm_reason: `Unknown criterion type \"${p.criterion_type}\"`, decided_at: new Date().toISOString() } }];"
      },
      "id": "node-rule-layer",
      "name": "Rule Layer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 370],
      "notes": "Single Code node handles ALL rule types: missing evidence, financial numeric, certification date expiry, compliance boolean. Sets needs_llm:true for technical/ambiguous cases. Handles Indian number formats (crores, lakhs, commas)."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-needs-llm",
              "leftValue": "={{ $json.needs_llm }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "node-if-needs-llm",
      "name": "Needs LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 370],
      "notes": "Routes to LLM only when rules couldn't decide. FALSE path = rule gave a clear verdict, skip LLM entirely."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/mistral-7b-instruct-q4\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 400,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a procurement rules engine for Indian government tenders (CRPF).\\nA human officer will review your decision. When in doubt, return MANUAL_REVIEW.\\n\\nReturn ONLY this JSON object. No prose. No markdown. No explanation outside the object.\\nStart with { and end with }\\n\\n{\\n  \\\"verdict\\\": \\\"ELIGIBLE | INELIGIBLE | MANUAL_REVIEW\\\",\\n  \\\"reason\\\": \\\"one specific sentence citing the evidence value and criterion\\\",\\n  \\\"confidence\\\": 0.87\\n}\\n\\nRULES:\\n- ELIGIBLE: evidence clearly satisfies the criterion\\n- INELIGIBLE: evidence clearly fails the criterion\\n- MANUAL_REVIEW: any doubt, ambiguity, or missing context\\n- Never return ELIGIBLE if confidence < 0.75\\n- Never invent values not present in the evidence\\n- For similar work: match government/defence/residential classification strictly\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Criterion: {{ $json.criterion_name }}\\nType: {{ $json.criterion_type }}\\nRequirement: {{ $json.criterion_description || $json.criterion_name }}\\nThreshold: {{ $json.threshold_value }} {{ $json.threshold_unit }}\\n\\nEvidence extracted from bidder documents:\\nValue: {{ $json.extracted_value }}\\nUnit: {{ $json.extracted_unit }}\\nDirect quote: \\\"{{ $json.quoted_text }}\\\"\\nPage: {{ $json.source_page }}\\nExtraction confidence: {{ $json.extracted_confidence }}\\n\\nReason this needs LLM review: {{ $json.llm_reason }}\\n\\nReturn the verdict JSON object.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 90000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-llm-verdict",
      "name": "LLM Verdict Reasoning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 240],
      "notes": "Called only for: technical criteria, ambiguous compliance values, borderline confidence. Temperature 0.0. Max tokens 400 — verdict object is small."
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM verdict response.\n// Enforce: only ELIGIBLE / INELIGIBLE / MANUAL_REVIEW are valid.\n// Apply confidence gate: < 0.75 → force MANUAL_REVIEW.\n// Detect hedging language → force MANUAL_REVIEW.\n\nconst llmResponse = $input.first().json;\nconst pair = $('Split In Batches').first().json;\n\nlet raw = llmResponse.choices?.[0]?.message?.content || '';\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nconst objStart = raw.indexOf('{');\nconst objEnd = raw.lastIndexOf('}');\n\nlet parsed = { verdict: 'MANUAL_REVIEW', reason: 'LLM response could not be parsed', confidence: 0.0 };\n\nif (objStart !== -1 && objEnd !== -1) {\n  try {\n    const clean = raw.substring(objStart, objEnd + 1).replace(/,\\s*([\\]\\}])/g, '$1');\n    parsed = JSON.parse(clean);\n  } catch (e) {\n    parsed = { verdict: 'MANUAL_REVIEW', reason: `Parse error: ${e.message}`, confidence: 0.0 };\n  }\n}\n\n// Enforce valid verdict values\nconst VALID_VERDICTS = ['ELIGIBLE', 'INELIGIBLE', 'MANUAL_REVIEW'];\nif (!VALID_VERDICTS.includes(parsed.verdict)) {\n  parsed.verdict = 'MANUAL_REVIEW';\n  parsed.reason = `AI returned unknown verdict \"${parsed.verdict}\": ${parsed.reason}`;\n  parsed.confidence = 0.3;\n}\n\n// Confidence gate — anything below 0.75 becomes MANUAL_REVIEW\nif (typeof parsed.confidence === 'number' && parsed.confidence < 0.75) {\n  parsed.verdict = 'MANUAL_REVIEW';\n  parsed.reason = `Confidence ${parsed.confidence} below threshold 0.75: ${parsed.reason}`;\n}\n\n// Hedging language detection — model is uncertain even if it returned ELIGIBLE\nconst HEDGE_WORDS = ['unclear', 'possibly', 'might', 'could be', 'uncertain', 'depends', 'perhaps', 'ambiguous'];\nconst reasonLower = (parsed.reason || '').toLowerCase();\nif (parsed.verdict === 'ELIGIBLE' && HEDGE_WORDS.some(w => reasonLower.includes(w))) {\n  parsed.verdict = 'MANUAL_REVIEW';\n  parsed.reason = `Hedging language detected in reasoning: ${parsed.reason}`;\n  parsed.confidence = Math.min(parsed.confidence, 0.5);\n}\n\nreturn [{\n  json: {\n    ...pair,\n    verdict: parsed.verdict,\n    reason: parsed.reason,\n    verdict_confidence: parsed.confidence,\n    verdict_method: 'llm_mistral',\n    needs_llm: false,\n    decided_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-parse-llm-verdict",
      "name": "Parse LLM Verdict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 240],
      "notes": "Enforces valid verdicts only. Applies confidence gate <0.75 → MANUAL_REVIEW. Detects hedging language in ELIGIBLE verdicts and downgrades. Never crashes — always returns a valid verdict."
    },
    {
      "parameters": {
        "jsCode": "// Both rule-decided and LLM-decided verdicts flow into here.\n// Assemble the final VerdictRecord ready to POST to FastAPI.\n\nconst v = $input.first().json;\n\n// Translate PASS/FAIL → ELIGIBLE/INELIGIBLE for consistency\n// (rule layer used ELIGIBLE/INELIGIBLE directly but guard anyway)\nlet finalVerdict = v.verdict;\nif (finalVerdict === 'PASS') finalVerdict = 'ELIGIBLE';\nif (finalVerdict === 'FAIL') finalVerdict = 'INELIGIBLE';\n\nreturn [{\n  json: {\n    id: crypto.randomUUID(),\n    tender_id: v.tender_id,\n    bidder_id: v.bidder_id,\n    criterion_id: v.criterion_id,\n    criterion_name: v.criterion_name,\n    criterion_type: v.criterion_type,\n    evidence_id: v.evidence_id,\n    // The final verdict\n    verdict: finalVerdict,\n    reason: v.reason,\n    confidence: v.verdict_confidence,\n    verdict_method: v.verdict_method,\n    // Evidence provenance for audit trail\n    extracted_value: v.extracted_value,\n    threshold_value: v.threshold_value,\n    threshold_unit: v.threshold_unit,\n    quoted_text: v.quoted_text,\n    source_page: v.source_page,\n    // Status flags\n    requires_officer_review: finalVerdict === 'MANUAL_REVIEW',\n    officer_override: null,\n    officer_override_reason: null,\n    officer_override_at: null,\n    // Timestamps\n    decided_at: v.decided_at,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-assemble-verdict",
      "name": "Assemble Verdict Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 370],
      "notes": "Merges rule and LLM paths into one canonical VerdictRecord shape. Sets requires_officer_review flag. Leaves officer_override fields null for the human review step."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/verdict-rendered",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-post-verdict",
      "name": "POST Verdict to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 370],
      "notes": "FastAPI writes to verdict_events (append-only). Also writes AuditEvent. UI dashboard updates when it polls GET /verdicts?tender_id=."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-loop-back",
      "name": "Back to Split In Batches",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2440, 370],
      "notes": "Routes back into the Split In Batches loop for the next pair."
    },
    {
      "parameters": {
        "jsCode": "// All verdict pairs have been processed.\n// Build the completion summary.\nconst webhookData = $('Webhook Trigger').first().json;\n\nreturn [{\n  json: {\n    tender_id: webhookData.tender_id,\n    bidder_ids: webhookData.bidder_ids,\n    status: 'verdict_engine_complete',\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-loop-complete",
      "name": "Loop Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 370]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/audit-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"verdict_engine_complete\",\n  \"actor\": \"n8n_wf4\",\n  \"object_id\": \"{{ $json.tender_id }}\",\n  \"object_type\": \"tender\",\n  \"detail\": {\n    \"bidder_ids\": {{ JSON.stringify($json.bidder_ids) }},\n    \"completed_at\": \"{{ $json.completed_at }}\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "node-audit",
      "name": "Write Audit Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 370]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/evaluation-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tender_id\": \"{{ $('Loop Complete').first().json.tender_id }}\",\n  \"bidder_ids\": {{ JSON.stringify($('Loop Complete').first().json.bidder_ids) }},\n  \"status\": \"verdicts_ready\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "node-notify-complete",
      "name": "Notify Evaluation Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 370],
      "notes": "FastAPI updates tender status to verdicts_ready. UI polls this status — when it changes, the dashboard populates automatically."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond Immediately", "type": "main", "index": 0 },
          { "node": "Fetch All Criteria", "type": "main", "index": 0 },
          { "node": "Fetch All Evidence", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch All Criteria": {
      "main": [
        [{ "node": "Build Evidence-Criterion Pairs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch All Evidence": {
      "main": [
        [{ "node": "Build Evidence-Criterion Pairs", "type": "main", "index": 0 }]
      ]
    },
    "Build Evidence-Criterion Pairs": {
      "main": [
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Split In Batches": {
      "main": [
        [{ "node": "Rule Layer", "type": "main", "index": 0 }],
        [{ "node": "Loop Complete", "type": "main", "index": 0 }]
      ]
    },
    "Rule Layer": {
      "main": [
        [{ "node": "Needs LLM?", "type": "main", "index": 0 }]
      ]
    },
    "Needs LLM?": {
      "main": [
        [{ "node": "LLM Verdict Reasoning", "type": "main", "index": 0 }],
        [{ "node": "Assemble Verdict Record", "type": "main", "index": 0 }]
      ]
    },
    "LLM Verdict Reasoning": {
      "main": [
        [{ "node": "Parse LLM Verdict", "type": "main", "index": 0 }]
      ]
    },
    "Parse LLM Verdict": {
      "main": [
        [{ "node": "Assemble Verdict Record", "type": "main", "index": 0 }]
      ]
    },
    "Assemble Verdict Record": {
      "main": [
        [{ "node": "POST Verdict to FastAPI", "type": "main", "index": 0 }]
      ]
    },
    "POST Verdict to FastAPI": {
      "main": [
        [{ "node": "Back to Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Back to Split In Batches": {
      "main": [
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Loop Complete": {
      "main": [
        [{ "node": "Write Audit Event", "type": "main", "index": 0 }]
      ]
    },
    "Write Audit Event": {
      "main": [
        [{ "node": "Notify Evaluation Complete", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "smarttender" }, { "name": "wf4-verdict" }],
  "triggerCount": 0,
  "updatedAt": "2026-04-23T00:00:00.000Z",
  "versionId": "v1"
}
