n8n/workflows/SmartTender_WF3_Evidence_Extraction.json
{
  "name": "WF-3 — Evidence Extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evidence-extraction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "smarttender-evidence-extract"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, tender_id: $json.tender_id, bidder_count: $json.bidder_ids.length, status: 'processing' }) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/criteria?tender_id={{ $json.tender_id }}&status=confirmed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Accept", "value": "application/json" }]
        },
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-fetch-criteria",
      "name": "Fetch Confirmed Criteria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Fetches only status=confirmed criteria — WF-3 must not run on unreviewed criteria. FastAPI should 400 if any criteria are still pending_review."
    },
    {
      "parameters": {
        "jsCode": "// Build every bidder × criterion pair as a flat list of work items.\n// Each item is one unit of work: embed this criterion, search for this bidder, extract evidence.\n\nconst webhookData = $('Webhook Trigger').first().json;\nconst bidder_ids = webhookData.bidder_ids || [];\nconst tender_id = webhookData.tender_id;\n\n// Criteria come back as array from FastAPI\nconst criteriaResponse = $input.first().json;\nconst criteria = Array.isArray(criteriaResponse) ? criteriaResponse : (criteriaResponse.criteria || []);\n\nif (criteria.length === 0) {\n  throw new Error('No confirmed criteria found for this tender. Officer must confirm criteria before evidence extraction.');\n}\n\nif (bidder_ids.length === 0) {\n  throw new Error('No bidder_ids provided in webhook payload.');\n}\n\nconst pairs = [];\nfor (const bidder_id of bidder_ids) {\n  for (const criterion of criteria) {\n    pairs.push({\n      tender_id,\n      bidder_id,\n      criterion_id: criterion.id,\n      criterion_name: criterion.name,\n      criterion_type: criterion.type,\n      criterion_description: criterion.description,\n      threshold_value: criterion.threshold_value ?? null,\n      threshold_unit: criterion.threshold_unit ?? null,\n      mandatory: criterion.mandatory,\n      source_section: criterion.source_section,\n      // Richer embedding query: name + description + source_text together\n      embedding_query: [\n        criterion.name,\n        criterion.description,\n        criterion.source_text || ''\n      ].filter(Boolean).join('. ')\n    });\n  }\n}\n\n// Log the matrix size for audit\nconsole.log(`Built ${pairs.length} pairs (${bidder_ids.length} bidders × ${criteria.length} criteria)`);\n\nreturn pairs.map(p => ({ json: p }));"
      },
      "id": "node-build-matrix",
      "name": "Build Bidder × Criterion Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Outputs one item per bidder×criterion pair. 5 bidders × 5 criteria = 25 items. Each item carries everything needed for the extraction loop."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300],
      "notes": "Batch size 1 = sequential LLM calls. Prevents overwhelming the local model runner. For demo with few pairs, this is fine. Increase to 2-3 only if model runner has GPU."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/nomic-embed-text\",\n  \"input\": \"{{ $json.embedding_query }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-embed-criterion",
      "name": "Embed Criterion Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "notes": "Uses embedding_query = name + description + source_text combined. Richer query = better Qdrant retrieval than description alone."
    },
    {
      "parameters": {
        "jsCode": "// Attach the embedding vector back to the pair data\n// The HTTP response is the embedding result; we need to merge it\n// with the original pair data from the Split In Batches node\n\nconst embeddingResponse = $input.first().json;\nconst vector = embeddingResponse.data?.[0]?.embedding;\n\nif (!vector || vector.length === 0) {\n  throw new Error(`Embedding failed for criterion: ${embeddingResponse.criterion_id || 'unknown'}. nomic-embed-text returned no vector.`);\n}\n\n// Get the current pair from the batch\nconst pair = $('Split In Batches').first().json;\n\nreturn [{\n  json: {\n    ...pair,\n    vector\n  }\n}];"
      },
      "id": "node-attach-vector",
      "name": "Attach Embedding to Pair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "notes": "Merges the 768-dim vector back onto the pair object. The HTTP Request node only returns the embedding response, so we manually merge with the pair context."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/tender_docs/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.vector) }},\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"bidder_id\",\n        \"match\": { \"value\": \"{{ $json.bidder_id }}\" }\n      }\n    ]\n  },\n  \"limit\": 5,\n  \"with_payload\": true,\n  \"score_threshold\": 0.3\n}",
        "options": {
          "timeout": 10000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-qdrant-search",
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "notes": "score_threshold: 0.3 filters very irrelevant chunks. bidder_id filter is case-sensitive — must match exactly what was upserted in WF-1. Returns top-5 chunks."
    },
    {
      "parameters": {
        "jsCode": "// Merge Qdrant results with the pair context and build the extraction prompt.\n// If Qdrant returns empty results, we still proceed — evidence will be null.\n\nconst qdrantResponse = $input.first().json;\nconst searchResults = qdrantResponse.result || [];\nconst pair = $('Split In Batches').first().json;\n\n// Format chunks as numbered context blocks for the LLM\nconst chunks = searchResults.map((r, i) => {\n  const p = r.payload || {};\n  const score = r.score ? ` (relevance: ${r.score.toFixed(2)})` : '';\n  return `[Chunk ${i + 1}, Page ${p.page_num || '?'}${score}]\\n${p.text || ''}`;\n}).join('\\n\\n---\\n\\n');\n\nconst noChunksFound = searchResults.length === 0;\n\nreturn [{\n  json: {\n    ...pair,\n    context_chunks: chunks,\n    chunk_count: searchResults.length,\n    no_chunks_found: noChunksFound,\n    // Keep raw results for source citation\n    raw_search_results: searchResults.map(r => ({\n      score: r.score,\n      page_num: r.payload?.page_num,\n      block_type: r.payload?.block_type,\n      text_preview: (r.payload?.text || '').substring(0, 100)\n    }))\n  }\n}];"
      },
      "id": "node-build-prompt",
      "name": "Build Extraction Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "notes": "Formats top-5 chunks as numbered context blocks. Includes relevance scores so the LLM can weight them. Sets no_chunks_found flag for the IF node."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-no-chunks",
              "leftValue": "={{ $json.no_chunks_found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "node-if-no-chunks",
      "name": "Any Chunks Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 300],
      "notes": "If Qdrant returned nothing, skip the LLM call entirely. Set evidence as not_found with reason. This avoids wasting a 30s LLM call on an empty prompt."
    },
    {
      "parameters": {
        "jsCode": "// No chunks found — create a not_found EvidenceObject immediately\n// without calling the LLM. Saves time and avoids hallucination risk.\nconst pair = $input.first().json;\n\nreturn [{\n  json: {\n    tender_id: pair.tender_id,\n    bidder_id: pair.bidder_id,\n    criterion_id: pair.criterion_id,\n    criterion_name: pair.criterion_name,\n    value: null,\n    unit: null,\n    source_chunk_ref: null,\n    source_page: null,\n    quoted_text: null,\n    confidence: 0.0,\n    not_found_reason: 'No relevant document chunks found in Qdrant for this bidder. Document may not have been ingested yet, or relevant section is absent from submission.',\n    extraction_method: 'qdrant_empty',\n    extracted_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-no-chunks-evidence",
      "name": "Create Not-Found Evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 180],
      "notes": "Generates a definitive not_found EvidenceObject. WF-4 will route this straight to MANUAL_REVIEW."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/mistral-7b-instruct-q4\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 800,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a document evidence extractor for Indian government procurement evaluation.\\nYour job: find ONE specific value in the provided document chunks.\\n\\nRULES (non-negotiable):\\n1. Return ONLY what is explicitly written in the chunks. Zero inference. Zero estimation.\\n2. If the value is not clearly present, return null for value.\\n3. quoted_text must be copied VERBATIM from the chunk — exact words, exact spelling.\\n4. Never calculate, derive, or average values.\\n5. Return ONLY a JSON object — no markdown, no fences, no explanation.\\nStart your response with { and end with }\\n\\nReturn exactly this shape:\\n{\\n  \\\"value\\\": 21000000,\\n  \\\"unit\\\": \\\"INR\\\",\\n  \\\"source_chunk_ref\\\": 2,\\n  \\\"source_page\\\": 4,\\n  \\\"quoted_text\\\": \\\"exact words from the chunk\\\",\\n  \\\"confidence\\\": 0.91,\\n  \\\"not_found_reason\\\": null\\n}\\n\\nIf NOT found:\\n{\\n  \\\"value\\\": null,\\n  \\\"unit\\\": null,\\n  \\\"source_chunk_ref\\\": null,\\n  \\\"source_page\\\": null,\\n  \\\"quoted_text\\\": null,\\n  \\\"confidence\\\": 0.0,\\n  \\\"not_found_reason\\\": \\\"one sentence explaining why\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Criterion to find: {{ $json.criterion_name }}\\nFull requirement: {{ $json.criterion_description }}\\nThreshold: {{ $json.threshold_value }} {{ $json.threshold_unit }}\\n\\nDocument chunks from this bidder's submission:\\n\\n{{ $json.context_chunks }}\\n\\nFind the evidence for this criterion in the chunks above. Return the JSON object only.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 90000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-extract-evidence",
      "name": "Extract Evidence (Mistral)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 420],
      "notes": "Temperature 0.0 for maximum determinism. Max tokens 800 — evidence object is small. System prompt enforces verbatim quoting and null-on-not-found."
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM evidence response into a validated EvidenceObject.\n// Merge with pair metadata for the complete record.\n\nconst llmResponse = $input.first().json;\nconst pair = $('Split In Batches').first().json;\n\nlet raw = llmResponse.choices?.[0]?.message?.content || '';\n\n// Strip fences\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\n// Find object boundaries\nconst objStart = raw.indexOf('{');\nconst objEnd = raw.lastIndexOf('}');\n\nif (objStart === -1 || objEnd === -1) {\n  // Can't parse at all — treat as not_found\n  return [{ json: {\n    tender_id: pair.tender_id,\n    bidder_id: pair.bidder_id,\n    criterion_id: pair.criterion_id,\n    criterion_name: pair.criterion_name,\n    value: null,\n    unit: null,\n    source_chunk_ref: null,\n    source_page: null,\n    quoted_text: null,\n    confidence: 0.0,\n    not_found_reason: 'LLM response could not be parsed as JSON',\n    extraction_method: 'llm_parse_failed',\n    raw_response: raw.substring(0, 200),\n    extracted_at: new Date().toISOString()\n  }}];\n}\n\nraw = raw.substring(objStart, objEnd + 1);\n// Fix trailing commas\nraw = raw.replace(/,\\s*([\\]\\}])/g, '$1');\n\nlet evidence;\ntry {\n  evidence = JSON.parse(raw);\n} catch (e) {\n  evidence = {\n    value: null,\n    unit: null,\n    source_chunk_ref: null,\n    source_page: null,\n    quoted_text: null,\n    confidence: 0.0,\n    not_found_reason: `JSON parse error: ${e.message}`\n  };\n}\n\n// Normalise value: convert string numbers to float\nif (typeof evidence.value === 'string') {\n  const cleaned = evidence.value.replace(/[^0-9.]/g, '');\n  evidence.value = cleaned ? parseFloat(cleaned) : null;\n}\n\n// Clamp confidence to [0, 1]\nif (typeof evidence.confidence === 'number') {\n  evidence.confidence = Math.min(1, Math.max(0, evidence.confidence));\n}\n\nreturn [{\n  json: {\n    tender_id: pair.tender_id,\n    bidder_id: pair.bidder_id,\n    criterion_id: pair.criterion_id,\n    criterion_name: pair.criterion_name,\n    criterion_type: pair.criterion_type,\n    threshold_value: pair.threshold_value,\n    threshold_unit: pair.threshold_unit,\n    // Evidence fields from LLM\n    value: evidence.value ?? null,\n    unit: evidence.unit ?? null,\n    source_chunk_ref: evidence.source_chunk_ref ?? null,\n    source_page: evidence.source_page ?? null,\n    quoted_text: evidence.quoted_text ?? null,\n    confidence: evidence.confidence ?? 0.0,\n    not_found_reason: evidence.not_found_reason ?? null,\n    extraction_method: 'llm_mistral',\n    extracted_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-parse-evidence",
      "name": "Parse Evidence JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 420],
      "notes": "Strips fences, isolates object, fixes trailing commas. Normalises string values to float. Clamps confidence. On any parse failure, returns not_found rather than crashing."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/webhooks/evidence-extracted",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "node-post-evidence",
      "name": "POST Evidence to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 300],
      "notes": "Posts one EvidenceObject per pair. FastAPI stores to evidence table. Sends back to Split In Batches to process next pair."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-split-batches-back",
      "name": "Back to Split In Batches",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2880, 300],
      "notes": "NoOp connector — routes back into the Split In Batches loop. When Split In Batches has no more items, it routes to the 'done' output (index 1) which triggers the completion check."
    },
    {
      "parameters": {
        "jsCode": "// All pairs have been processed.\n// Count results and check if any evidence was found at all.\nconst webhookData = $('Webhook Trigger').first().json;\n\nreturn [{\n  json: {\n    tender_id: webhookData.tender_id,\n    bidder_ids: webhookData.bidder_ids,\n    status: 'evidence_extraction_complete',\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-loop-complete",
      "name": "Loop Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 300],
      "notes": "Fires only when Split In Batches exhausts all pairs (done output). Assembles the completion payload to trigger WF-4."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/audit-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"evidence_extraction_complete\",\n  \"actor\": \"n8n_wf3\",\n  \"object_id\": \"{{ $json.tender_id }}\",\n  \"object_type\": \"tender\",\n  \"detail\": {\n    \"bidder_ids\": {{ JSON.stringify($json.bidder_ids) }},\n    \"completed_at\": \"{{ $json.completed_at }}\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "node-audit",
      "name": "Write Audit Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/verdict-engine",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tender_id\": \"{{ $('Loop Complete').first().json.tender_id }}\",\n  \"bidder_ids\": {{ JSON.stringify($('Loop Complete').first().json.bidder_ids) }}\n}",
        "options": { "timeout": 10000 }
      },
      "id": "node-trigger-wf4",
      "name": "Trigger WF-4 Verdict Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 300],
      "notes": "Fires WF-4 webhook after all evidence is stored. n8n internal webhook call — use the same container hostname. WF-4 will fetch all evidence from FastAPI and run the verdict engine."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond Immediately", "type": "main", "index": 0 },
          { "node": "Fetch Confirmed Criteria", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Confirmed Criteria": {
      "main": [
        [{ "node": "Build Bidder × Criterion Matrix", "type": "main", "index": 0 }]
      ]
    },
    "Build Bidder × Criterion Matrix": {
      "main": [
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Split In Batches": {
      "main": [
        [{ "node": "Embed Criterion Text", "type": "main", "index": 0 }],
        [{ "node": "Loop Complete", "type": "main", "index": 0 }]
      ]
    },
    "Embed Criterion Text": {
      "main": [
        [{ "node": "Attach Embedding to Pair", "type": "main", "index": 0 }]
      ]
    },
    "Attach Embedding to Pair": {
      "main": [
        [{ "node": "Search Qdrant", "type": "main", "index": 0 }]
      ]
    },
    "Search Qdrant": {
      "main": [
        [{ "node": "Build Extraction Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Extraction Prompt": {
      "main": [
        [{ "node": "Any Chunks Found?", "type": "main", "index": 0 }]
      ]
    },
    "Any Chunks Found?": {
      "main": [
        [{ "node": "Create Not-Found Evidence", "type": "main", "index": 0 }],
        [{ "node": "Extract Evidence (Mistral)", "type": "main", "index": 0 }]
      ]
    },
    "Create Not-Found Evidence": {
      "main": [
        [{ "node": "POST Evidence to FastAPI", "type": "main", "index": 0 }]
      ]
    },
    "Extract Evidence (Mistral)": {
      "main": [
        [{ "node": "Parse Evidence JSON", "type": "main", "index": 0 }]
      ]
    },
    "Parse Evidence JSON": {
      "main": [
        [{ "node": "POST Evidence to FastAPI", "type": "main", "index": 0 }]
      ]
    },
    "POST Evidence to FastAPI": {
      "main": [
        [{ "node": "Back to Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Back to Split In Batches": {
      "main": [
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Loop Complete": {
      "main": [
        [{ "node": "Write Audit Event", "type": "main", "index": 0 }]
      ]
    },
    "Write Audit Event": {
      "main": [
        [{ "node": "Trigger WF-4 Verdict Engine", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "smarttender" }, { "name": "wf3-evidence" }],
  "triggerCount": 0,
  "updatedAt": "2026-04-23T00:00:00.000Z",
  "versionId": "v1"
}
