n8n/workflows/WF-1 — Document Ingestion (1).json
{
  "name": "WF-1 — Document Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-ingestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b4fb191e-65d0-4ca6-bfe1-441a906113a1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -224,
        128
      ],
      "webhookId": "smarttender-doc-ingest"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, document_id: $json.document_id }) }}",
        "options": {}
      },
      "id": "7f864b1e-6009-424e-a158-d4a7bb0abccc",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-image-mime",
              "leftValue": "={{ $json.body.file_type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-jpg",
              "leftValue": "={{ $json.body.filename }}",
              "rightValue": ".jpg",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "cond-png",
              "leftValue": "={{ $json.body.filename }}",
              "rightValue": ".png",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "cond-tiff",
              "leftValue": "={{ $json.body.filename }}",
              "rightValue": ".tiff",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9158bdef-858b-4cb6-83a3-73a8bd8b3032",
      "name": "Detect Format",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/documents/{{ $json.body.document_id }}/file",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4df9135f-4cc0-4c12-b998-e37485b50d88",
      "name": "Fetch File from Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        160
      ],
      "notes": "Fetches the raw file from FastAPI. Backend must expose GET /documents/{id}/file that streams the binary. This is necessary because n8n cannot directly read files from another container volume."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "document_id",
              "value": "={{ $('Webhook Trigger').item.json.body.document_id }}"
            },
            {
              "name": "extract_tables",
              "value": "true"
            },
            {
              "name": "extract_metadata",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "fb5302e2-8fb7-4fed-8310-0938901a7b30",
      "name": "Docling OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        160
      ],
      "notes": "Timeout set to 120s. Docling returns: { pages: [{ page_num, blocks: [{ block_type, text, confidence, bbox }] }] }"
    },
    {
      "parameters": {
        "jsCode": "// Check if any page block has confidence < 0.70\nconst pages = $input.first().json.pages || [];\nconst lowConfPages = [];\n\nfor (const page of pages) {\n  const blocks = page.blocks || [];\n  const hasLowConf = blocks.some(b => (b.confidence ?? 1) < 0.70);\n  if (hasLowConf) {\n    lowConfPages.push({\n      page_num: page.page_num,\n      blocks: blocks,\n      document_id: $('Webhook Trigger').first().json.document_id\n    });\n  }\n}\n\n// Pass through all pages + flag low confidence ones\nreturn [{\n  json: {\n    all_pages: pages,\n    low_conf_pages: lowConfPages,\n    has_low_conf: lowConfPages.length > 0,\n    document_id: $('Webhook Trigger').first().json.document_id,\n    tender_id: $('Webhook Trigger').first().json.tender_id,\n    bidder_id: $('Webhook Trigger').first().json.bidder_id\n  }\n}];"
      },
      "id": "6055d017-cc2e-4f1a-b7ff-b6fe6624948b",
      "name": "Check Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-low-conf",
              "leftValue": "={{ $json.has_low_conf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11eb3026-bcbc-4c2c-bfca-ec4ccbb60ffa",
      "name": "Any Low Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build vision prompt payload for each low-confidence page\n// In production: render PDF page to base64 image via a helper endpoint\n// FastAPI endpoint: GET /documents/{id}/page/{num}/image?format=base64\nconst lowPages = $input.first().json.low_conf_pages || [];\nconst docId = $('Fetch File from Backend').first().json.body.document_id;\n\nreturn lowPages.map(page => ({\n  json: {\n    document_id: docId,\n    page_num: page.page_num,\n    image_url: `http://host.docker.internal:8000/api/v1/documents/${docId}/page/${page.page_num}/image`\n  }\n}));"
      },
      "id": "340324ad-bcb3-435c-a000-aed0944614a4",
      "name": "Prepare Vision Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        64
      ],
      "notes": "Prepares one item per low-confidence page. FastAPI needs GET /documents/{id}/page/{n}/image endpoint that renders the PDF page and returns base64."
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1eb380c3-2925-4102-a2e5-483f4d00e1f9",
      "name": "Fetch Page as Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://model-runner.docker.internal:12434/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/gemma3:4B\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a document text extractor. Extract ALL text from the provided image exactly as it appears. Preserve numbers, dates, and currency values precisely. Return plain text only, no commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": { \"url\": \"data:image/jpeg;base64,{{ $json.base64_image }}\" }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all text from this document page. Pay special attention to: currency values (₹ amounts), dates, certificate numbers, company names, and registration codes. Return raw text only.\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0\n}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "27b2ae0c-87c3-410c-b680-67613ede9167",
      "name": "Gemma3 Vision Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        64
      ],
      "notes": "Uses ai/gemma3:4B (not llava — not available in Docker Model Runner). Temperature 0 for deterministic extraction. Timeout 90s."
    },
    {
      "parameters": {
        "jsCode": "// Merge gemma3 vision output back into page_blocks\nconst allPages = $('Check Confidence').first().json.all_pages;\nconst visionItems = $input.all();\n\n// Build a map of page_num -> vision text\nconst visionMap = {};\nfor (const item of visionItems) {\n  const pageNum = item.json.page_num;\n  const visionText = item.json.choices?.[0]?.message?.content || '';\n  visionMap[pageNum] = visionText;\n}\n\n// Replace low-confidence blocks with vision extraction\nconst mergedPages = allPages.map(page => {\n  if (visionMap[page.page_num]) {\n    return {\n      ...page,\n      blocks: [{\n        block_type: 'text',\n        text: visionMap[page.page_num],\n        confidence: 0.88,\n        source: 'gemma3_vision'\n      }]\n    };\n  }\n  return page;\n});\n\nreturn [{\n  json: {\n    all_pages: mergedPages,\n    document_id: $('Webhook Trigger').first().json.document_id,\n    tender_id: $('Webhook Trigger').first().json.tender_id,\n    bidder_id: $('Webhook Trigger').first().json.bidder_id\n  }\n}];"
      },
      "id": "e9da376b-ae91-4217-9bad-0eb47181e2ca",
      "name": "Merge Vision Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass pages straight through when all confidence >= 0.70\nconst data = $input.first().json;\nreturn [{ json: data }];"
      },
      "id": "7ed6f1e7-4ef3-4319-b132-8c5eb93a5bf2",
      "name": "Pass Through (High Confidence)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Get Data from previous nodes\nconst webhookData = $('Webhook Trigger').first().json;\nconst wb = webhookData.body || webhookData; \nconst ocrData = $('Docling OCR').first().json;\n\n// 2. Map the flat page_blocks array\n// Docling uses 'page_blocks' directly on the root object\nconst sourceBlocks = ocrData.page_blocks || [];\n\nconst allBlocks = sourceBlocks.map((block, index) => {\n  return {\n    block_id: `${ocrData.document_id || wb.document_id || 'doc'}-b${index}`,\n    page_num: block.page_num || 1,\n    block_type: block.block_type || 'text',\n    text: block.text || '',\n    confidence: block.confidence ?? 1.0,\n    source: 'docling',\n    bbox: block.bbox || null\n  };\n});\n\n// 3. Assemble the Structured Document Object (SDO)\nconst sdo = {\n  document_id: ocrData.document_id || wb.document_id || \"unknown\",\n  tender_id: wb.tender_id || \"unknown\",\n  bidder_id: wb.bidder_id || \"unknown\",\n  filename: ocrData.filename || \"unknown_file\",\n  file_type: wb.file_type || \"png\",\n  total_pages: ocrData.num_pages || 1,\n  total_blocks: allBlocks.length,\n  blocks: allBlocks,\n  ingestion_timestamp: new Date().toISOString(),\n  input_hash: wb.input_hash || null,\n  avg_confidence: ocrData.avg_confidence || null\n};\n\nreturn [{ json: sdo }];"
      },
      "id": "475e611a-5946-4aeb-ac20-aa0645086400",
      "name": "Assemble SDO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        160
      ],
      "notes": "Creates the canonical Structured Document Object. All downstream nodes work from this shape."
    },
    {
      "parameters": {
        "fieldToSplitOut": "blocks",
        "options": {}
      },
      "id": "eb2e93d7-fc52-42a0-b3dd-93a09741c7e6",
      "name": "Split Blocks for Embedding",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2208,
        160
      ],
      "notes": "Splits the blocks array into individual items so each block gets embedded separately."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:12434/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"model\": \"nomic-embed-text-v1.5\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "4aadae0f-50eb-483a-8b05-fa3fdf6b316d",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        160
      ],
      "notes": "Calls nomic-embed-text via Docker Model Runner. Returns 768-dim vector in data[0].embedding."
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the external nodes once at the start\nconst splitBlocksData = $('Split Blocks for Embedding').all();\nconst assembleSdoData = $('Assemble SDO').all(); // Added .all() to be safe\n\nreturn $input.all().map((item, index) => {\n  const pair = item.json;\n  const vector = pair.data?.[0]?.embedding || [];\n\n  if (!vector.length) {\n    throw new Error(`Embedding vector is empty for item at index ${index}`);\n  }\n\n  function makeUUID() {\n    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n      const r = Math.random() * 16 | 0;\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n    });\n  }\n\n  const blockId = makeUUID();\n\n  // FIX HERE:\n  // splitBlock changes per item (index 0, 1, 2...)\n  const splitBlock = splitBlocksData[index]?.json || {};\n  \n  // assembleSdo stays the same for all items (always index 0)\n  const assembleSdo = assembleSdoData[0]?.json || {}; \n\n  const qdrantUpsertPayload = {\n    points: [\n      {\n        id: blockId,\n        payload: {\n          original_Blockid: splitBlock.block_id || '',\n          document_id: assembleSdo.document_id || '',\n          tender_id:   assembleSdo.tender_id   || '',\n          bidder_id:   assembleSdo.bidder_id   || null,\n          page_num:    splitBlock.page_num     || 0,\n          block_type:  splitBlock.block_type   || 'text',\n          text:        splitBlock.text         || '',\n          confidence:  typeof splitBlock.confidence === 'number' ? splitBlock.confidence : 1.0,\n          source:      splitBlock.source       || '',\n        },\n        vector: vector \n      }\n    ]\n  };\n\n  return {\n    json: {\n      ...pair,\n      block_id: blockId,\n      qdrant_payload: qdrantUpsertPayload\n    }\n  };\n});"
      },
      "id": "fc8c8074-da47-4835-83c9-5d34c54bc919",
      "name": "Attach Vector to Block",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        160
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://host.docker.internal:6333/collections/tender_docs/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [\n    {\n      \"id\": \"{{ $json.block_id }}\",\n      \"vector\": {{ JSON.stringify($json.vector) }},\n      \"payload\": {\n        \"document_id\": \"{{ $json.document_id }}\",\n        \"tender_id\": \"{{ $json.tender_id }}\",\n        \"bidder_id\": \"{{ $json.bidder_id }}\",\n        \"page_num\": {{ $json.page_num }},\n        \"block_type\": \"{{ $json.block_type }}\",\n        \"text\": \"{{ $json.text.replace(/\"/g, '\\\\\"') }}\",\n        \"confidence\": {{ $json.confidence }}\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "76ae00e0-de75-4c7a-b548-8aa3eb412549",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        608
      ],
      "notes": "PUT is idempotent — safe to re-run. If 404 (collection missing), the Init Qdrant Collection node must run first."
    },
    {
      "parameters": {
        "jsCode": "// Map over every item that was sent to \"Assemble SDO\"\nreturn $('Assemble SDO').all().map((documentItem) => {\n  const docJson = documentItem.json;\n  const blockItems = docJson.blocks || [];\n\n  // Reconstruct page_blocks specifically for THIS document\n  const page_blocks = blockItems.map((b, index) => {\n    return {\n      page_num:    b.page_num    ?? 1,\n      block_index: index,\n      block_type:  b.block_type  || 'text',\n      text:        b.text        || '',\n      confidence:  typeof b.confidence === 'number' ? b.confidence : 1.0,\n      bbox:        Array.isArray(b.bbox) ? b.bbox : [],\n      source:      b.source      || 'docling'\n    };\n  });\n\n  // Compute avg_confidence for THIS document\n  const avgConf = page_blocks.length > 0\n    ? page_blocks.reduce((sum, b) => sum + b.confidence, 0) / page_blocks.length\n    : 0;\n\n  // Build the SDO for THIS document\n  const sdo = {\n    id:             docJson.document_id || '',\n    tender_id:      docJson.tender_id   || '',\n    bidder_id:      docJson.bidder_id   || '',\n    filename:       docJson.filename    || '',\n    file_type:      docJson.file_type   || '',\n    num_pages:      docJson.total_pages  || 1,\n    page_blocks:    page_blocks,\n    avg_confidence: Math.round(avgConf * 10000) / 10000,\n    ingested_at:    new Date().toISOString(),\n    status:         'pending'\n  };\n\n  return { json: sdo };\n});"
      },
      "id": "5ff96956-76db-45f4-869c-b40fb48aed54",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        160
      ],
      "notes": "Collects all per-block results after the loop. Builds completion payload for FastAPI."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/webhooks/ingestion-complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "6828c91d-fa75-42da-9eec-b43918148e2c",
      "name": "POST Completion to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/audit-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.audit_payload }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "d521489c-85b4-42bf-ac9f-dfc716ccaa00",
      "name": "Write Audit Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        96
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://host.docker.internal:6333/collections/tender_docs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"vectors\": {\n    \"size\": 768,\n    \"distance\": \"Cosine\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "44383613-144d-4e07-8208-9ea76bd94d47",
      "name": "Init Qdrant Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        480
      ],
      "notes": "Run this manually ONCE before first use, or add it before the Docling node with continueOnFail: true. Creates the tender_docs collection with 768-dim Cosine vectors."
    },
    {
      "parameters": {
        "errorMessage": "Docling OCR failed. Check: (1) Docling container is running on :8001, (2) file was fetched from backend correctly, (3) timeout is set to 120000ms."
      },
      "id": "a2d0cb5f-3148-4aa8-a3fd-3548b477d988",
      "name": "Docling Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        448,
        336
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://host.docker.internal:6333/collections/tender_docs/points?wait=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.qdrant_payload }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "cd479f10-5326-4ea2-93f6-39576675a0fb",
      "name": "Upsert to Qdrant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2896,
        160
      ],
      "notes": "PUT is idempotent — safe to re-run. If 404 (collection missing), the Init Qdrant Collection node must run first."
    },
    {
      "parameters": {
        "jsCode": "// Map over every document found in Aggregate Results\nreturn $('Aggregate Results').all().map(item => {\n  const data = item.json;\n\n  const payload = {\n    tender_id:   data.tender_id || '',\n    event_type:  'document_ingestion_complete',\n    actor:       'n8n_wf1',\n    entity_type: data.file_type || 'document',\n    entity_id:   data.id || '', // Note: using 'id' from Aggregate Results\n    detail:      `Ingestion complete for ${data.filename || 'unknown'}. Blocks: ${(data.page_blocks || []).length}. Avg confidence: ${data.avg_confidence ?? 'N/A'}. Ingested at: ${data.ingested_at || new Date().toISOString()}`\n  };\n\n  return { \n    json: { \n      audit_payload: JSON.stringify(payload) \n    } \n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        304
      ],
      "id": "a3b78b91-0e16-4ead-a994-fe4d296ff727",
      "name": "Build Audit Payload"
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.53.0",
            "accept": "*/*",
            "cache-control": "no-cache",
            "postman-token": "42c7ad7e-dfcd-426e-9da4-7b24f4b855ee",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "229"
          },
          "params": {},
          "query": {},
          "body": {
            "document_id": "a343782e-0c01-4565-b98d-08013f4efd6e",
            "tender_id": "9a83f846-35c3-4343-a2c8-d8f132aed7ed",
            "bidder_id": null,
            "filename": "proposal_document.pdf",
            "file_type": "application/pdf",
            "input_hash": "sha256_xyz789"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/document-ingestion",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Format": {
      "main": [
        [
          {
            "node": "Fetch File from Backend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch File from Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File from Backend": {
      "main": [
        [
          {
            "node": "Docling OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling OCR": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence": {
      "main": [
        [
          {
            "node": "Any Low Confidence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Low Confidence?": {
      "main": [
        [
          {
            "node": "Prepare Vision Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through (High Confidence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vision Input": {
      "main": [
        [
          {
            "node": "Fetch Page as Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page as Image": {
      "main": [
        [
          {
            "node": "Gemma3 Vision Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemma3 Vision Fallback": {
      "main": [
        [
          {
            "node": "Merge Vision Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Vision Output": {
      "main": [
        [
          {
            "node": "Assemble SDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through (High Confidence)": {
      "main": [
        [
          {
            "node": "Assemble SDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble SDO": {
      "main": [
        [
          {
            "node": "Split Blocks for Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Blocks for Embedding": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Attach Vector to Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Vector to Block": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        []
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "POST Completion to FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Completion to FastAPI": {
      "main": [
        [
          {
            "node": "Build Audit Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant1": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Audit Payload": {
      "main": [
        [
          {
            "node": "Write Audit Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6064f807-7c41-4254-8a7b-85050d744681",
  "meta": {
    "instanceId": "90daaa8fe0c7b89846532888f01906cdce793de9ac34a9e8673cbfa6374d23b8"
  },
  "id": "YolBV4dAbtfCLkJy",
  "tags": [
    {
      "updatedAt": "2026-05-04T12:40:30.401Z",
      "createdAt": "2026-05-04T12:40:30.401Z",
      "id": "MfJvMcgvG7qi68WG",
      "name": "Final"
    },
    {
      "updatedAt": "2026-05-03T06:36:58.804Z",
      "createdAt": "2026-05-03T06:36:58.804Z",
      "id": "WWUbrJqL5WXiMvwz",
      "name": "wf1-ingestion"
    },
    {
      "updatedAt": "2026-05-03T06:36:58.799Z",
      "createdAt": "2026-05-03T06:36:58.799Z",
      "id": "Z9epEy8VH84KgNNe",
      "name": "smarttender"
    }
  ]
}