n8n/workflows/WF-2 — Criteria Extraction.json
{
  "name": "WF-2 — Criteria Extraction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criteria-extraction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "74edb99d-96cd-45de-b6a0-4d9e35829de0",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1712,
        112
      ],
      "webhookId": "smarttender-criteria-extract"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, tender_id: $json.tender_id, status: 'processing' }) }}",
        "options": {}
      },
      "id": "c1887286-cc33-4f5f-854f-539f4a365d82",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1488,
        -32
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/api/v1/documents/{{ $json.body.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "c92e0694-7cb7-4ea5-b8f0-4edd072f3859",
      "name": "Fetch Tender Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1488,
        112
      ],
      "notes": "Fetches the full Structured Document Object from FastAPI. Expects shape: { id, tender_id, page_blocks: [{ page_num, block_index, text, block_type, confidence }] }"
    },
    {
      "parameters": {
        "jsCode": "// Flatten and sort all page blocks into a single tender_text string.\n// Prioritise sections likely to contain eligibility criteria.\nconst doc = $input.first().json;\nconst blocks = doc.blocks || doc.page_blocks || [];\n\nconst ELIGIBILITY_KEYWORDS = [\n  'eligibility', 'eligible', 'criteria', 'qualification',\n  'shall', 'must', 'mandatory', 'required', 'turnover',\n  'experience', 'similar work', 'registration', 'certificate'\n];\n\n// Sort by page then block order\nconst sorted = [...blocks].sort(\n  (a, b) => (a.page_num - b.page_num) || ((a.block_index ?? 0) - (b.block_index ?? 0))\n);\n\n// Full text\nconst full_text = sorted.map(b => b.text || '').join('\\n\\n');\n\n// Rough token estimate (1 token ≈ 4 chars)\nconst TOKEN_LIMIT = 2800;\nconst CHAR_LIMIT = TOKEN_LIMIT * 4;\n\nlet tender_text = full_text;\n\nif (full_text.length > CHAR_LIMIT) {\n  // Over budget — keep only eligibility-relevant blocks\n  const relevant = sorted.filter(b => {\n    const t = (b.text || '').toLowerCase();\n    return ELIGIBILITY_KEYWORDS.some(kw => t.includes(kw));\n  });\n  tender_text = relevant.map(b => b.text || '').join('\\n\\n');\n\n  // If still over, hard truncate\n  if (tender_text.length > CHAR_LIMIT) {\n    tender_text = tender_text.substring(0, CHAR_LIMIT);\n  }\n}\n\nreturn [{\n  json: {\n    tender_text,\n    tender_id: doc.tender_id || $('Webhook Trigger').first().json.tender_id,\n    document_id: doc.id || $('Webhook Trigger').first().json.document_id,\n    total_blocks: blocks.length,\n    text_length: tender_text.length,\n    truncated: full_text.length > CHAR_LIMIT\n  }\n}];"
      },
      "id": "54f6e6e7-b010-4c15-b885-30f273492bc6",
      "name": "Concatenate & Trim Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        112
      ],
      "notes": "Joins all blocks in page order. If text exceeds ~12k tokens, filters to eligibility-relevant blocks only. Logs truncation flag for audit."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:12434/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/mistral:7B-Q4_0\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a government procurement parser specialized in Indian tenders. Extract eligibility criteria as a valid JSON array. Return ONLY the array. No markdown, no preamble. Start with [ and end with ].\\n\\nFields per criterion: criterion_id (C-1, C-2...), name (max 5 words), type (financial|technical|compliance|certification), description (full requirement), threshold_value (numeric or null), threshold_unit (INR|count|years|boolean|text), mandatory (boolean/null), source_section, source_text (exact snippet), confidence (0.0-1.0).\\n\\nRules:\\n- Include only genuine eligibility gates; exclude boilerplate/formatting.\\n- If mandatory status is unclear, set mandatory: null and confidence < 0.80.\\n- If threshold is non-numeric, set threshold_value: null.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract all eligibility criteria from this tender document:\\n\\n\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "9004427b-11fb-4989-b674-2d36d9837e31",
      "name": "Extract Criteria (Mistral)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        112
      ],
      "notes": "Timeout 120s — Mistral on CPU takes 30–90s on long prompts. Temperature 0.1 for near-deterministic JSON output."
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Initialize metadata\nconst response = $input.first().json;\nconst items = $('Concatenate & Trim Text').all();\nconst tender_id = items[0]?.json?.tender_id;\nconst document_id = items[0]?.json?.document_id;\nlet raw = response.choices?.[0]?.message?.content || '';\nlet isTruncated = false;\n\n// Helper: Extract complete objects from a potentially truncated string\nfunction extractCompleteObjects(str) {\n  const results = [];\n  let depth = 0, start = -1;\n  for (let i = 0; i < str.length; i++) {\n    if (str[i] === '{') {\n      if (depth === 0) start = i;\n      depth++;\n    } else if (str[i] === '}') {\n      depth--;\n      if (depth === 0 && start !== -1) {\n        try {\n          // Clean common JSON issues within the substring before parsing\n          let segment = str.substring(start, i + 1)\n            .replace(/,\\s*([\\]\\}])/g, '$1')\n            .replace(/'/g, '\"');\n          results.push(JSON.parse(segment));\n        } catch (e) { /* skip malformed object */ }\n        start = -1;\n      }\n    }\n  }\n  return results;\n}\n\n// Step 2: Strip markdown fences safely\n// Using a simpler approach to avoid the \"missing /\" regex error\nraw = raw.trim();\nif (raw.startsWith('```')) {\n    raw = raw.replace(/^```(json)?/i, '');\n}\nif (raw.endsWith('```')) {\n    raw = raw.replace(/```$/, '');\n}\nraw = raw.trim();\n\n// Step 3: Check for array boundaries\nconst arrayStart = raw.indexOf('[');\nconst arrayEnd = raw.lastIndexOf(']');\n\nlet criteria = [];\n\n// Handle missing/broken array structure by salvaging complete objects\nif (arrayStart === -1 || arrayEnd === -1) {\n  const salvaged = extractCompleteObjects(raw);\n  if (salvaged.length > 0) {\n    criteria = salvaged;\n    isTruncated = true;\n  } else {\n    return [{ json: { \n      parse_error: true, \n      error: 'No JSON array or objects found', \n      raw_output: raw, \n      tender_id, \n      document_id \n    }}];\n  }\n} else {\n  // Array boundaries exist, extract and clean the content\n  let jsonString = raw.substring(arrayStart, arrayEnd + 1);\n  // Clean trailing commas and single quotes\n  jsonString = jsonString.replace(/,\\s*([\\]\\}])/g, '$1').replace(/'/g, '\"');\n\n  try {\n    criteria = JSON.parse(jsonString);\n  } catch (e) {\n    // Fallback to salvage if standard parse fails\n    const salvaged = extractCompleteObjects(raw);\n    if (salvaged.length > 0) {\n      criteria = salvaged;\n      isTruncated = true;\n    } else {\n      return [{ json: { \n        parse_error: true, \n        error: 'Malformed JSON array and no objects salvaged: ' + e.message, \n        raw_output: raw, \n        tender_id, \n        document_id \n      }}];\n    }\n  }\n}\n\n// Step 4: Final Validation\nif (!Array.isArray(criteria) || criteria.length === 0) {\n  return [{ json: { \n    parse_error: true, \n    error: 'Empty or invalid criteria structure', \n    raw_output: raw, \n    tender_id, \n    document_id \n  }}];\n}\n\n// Validate required fields\nconst required = ['criterion_id', 'name', 'type', 'description', 'mandatory', 'source_section', 'confidence'];\nconst validCriteria = criteria.filter(c => {\n    return c && typeof c === 'object' && required.every(f => c.hasOwnProperty(f));\n});\n\nif (validCriteria.length === 0) {\n  return [{ json: { \n    parse_error: true, \n    error: 'All objects were missing required fields', \n    raw_output: raw, \n    tender_id, \n    document_id \n  }}];\n}\n\n// Return the salvaged/parsed data\nreturn [{ json: { \n  criteria: validCriteria, \n  parse_error: false, \n  truncated: isTruncated, \n  original_count: criteria.length,\n  tender_id, \n  document_id \n}}];"
      },
      "id": "4bd70bc0-70ef-44cc-8560-ee68cafb7d5d",
      "name": "Parse & Validate JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        112
      ],
      "notes": "Strips fences, isolates array, fixes trailing commas and single quotes, validates required fields. Returns parse_error:true on any failure so the IF node can route to retry."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-parse-error",
              "leftValue": "={{ $json.parse_error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78573247-b520-4b35-8290-1350a0f195a3",
      "name": "Parse Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:12434/engines/llama.cpp/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"ai/mistral:7B-Q4_0\",\n  \"temperature\": 0.0,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a JSON-only output machine. Your previous response failed to parse as valid JSON.\\nReturn ONLY a raw JSON array starting with [ and ending with ].\\nNo markdown. No code fences. No explanation. No text before [. No text after ].\\nIf you add ANY text outside the array, the system will crash.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Your previous attempt produced this invalid output:\\n\\n{{ $json.raw_output }}\\n\\nThe error was: {{ $json.error }}\\n\\nFix it. Return ONLY the corrected JSON array of eligibility criteria. Start with [.\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "9cc6cefb-4998-44dc-93e0-d1ef38dce8a8",
      "name": "Retry — Strict Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        -96
      ],
      "notes": "Retry with temperature 0.0 and more aggressive JSON-only instruction. Passes the failed raw output and error message so the model knows what to fix."
    },
    {
      "parameters": {
        "jsCode": "// Same parse logic as Node 5 — applied to the retry response\nconst response = $input.first().json;\nconst tender_id = $('Concatenate & Trim Text').first().json.tender_id;\nconst document_id = $('Concatenate & Trim Text').first().json.document_id;\n\nlet raw = response.choices?.[0]?.message?.content || '';\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n\nconst arrayStart = raw.indexOf('[');\nconst arrayEnd = raw.lastIndexOf(']');\n\nif (arrayStart === -1 || arrayEnd === -1) {\n  // Both attempts failed — POST failure to FastAPI and stop\n  return [{ json: {\n    extraction_failed: true,\n    error: 'Both extraction attempts failed to produce valid JSON',\n    tender_id,\n    document_id\n  }}];\n}\n\nraw = raw.substring(arrayStart, arrayEnd + 1);\nraw = raw.replace(/,\\s*([\\]\\}])/g, '$1');\n\ntry {\n  const criteria = JSON.parse(raw);\n  if (!Array.isArray(criteria) || criteria.length === 0) throw new Error('Empty or non-array');\n  return [{ json: { criteria, parse_error: false, tender_id, document_id } }];\n} catch (e) {\n  return [{ json: {\n    extraction_failed: true,\n    error: `Retry also failed: ${e.message}`,\n    raw_output: raw,\n    tender_id,\n    document_id\n  }}];\n}"
      },
      "id": "aa03788c-50e7-4d14-b009-f5070f83f77d",
      "name": "Parse Retry Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-extract-failed",
              "leftValue": "={{ $json.extraction_failed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c92758f-3531-4a90-811f-5b87f5803dea",
      "name": "Retry Also Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/webhooks/criteria-extraction-failed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tender_id\": \"{{ $json.tender_id }}\",\n  \"document_id\": \"{{ $json.document_id }}\",\n  \"error\": \"{{ $json.error }}\",\n  \"fallback\": \"manual_entry_required\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "f17882e6-2b40-4d33-a96a-d2b9d05292bc",
      "name": "POST Failure to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -176
      ],
      "notes": "Tells FastAPI both attempts failed. UI will show a manual criteria entry form as fallback. Evaluation cannot proceed until officer manually enters criteria."
    },
    {
      "parameters": {
        "jsCode": "function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n// Maps Mistral's semantic criterion types → FastAPI's allowed enum values\nfunction mapCriterionType(llmType) {\n  const map = {\n    'financial':     'numeric',\n    'numeric':       'numeric',\n    'technical':     'text',\n    'compliance':    'text',\n    'certification': 'boolean',\n    'boolean':       'boolean',\n    'date':          'date',\n    'text':          'text',\n  };\n  return map[(llmType || '').toLowerCase()] || 'text';\n}\n\nconst input = $input.first().json;\nconst criteria = input.criteria || [];\nconst tender_id = input.tender_id;\nconst document_id = input.document_id;\n\nconst result = criteria.map((c, i) => ({\n  id: uuidv4(),\n  tender_id,\n  name: c.name,\n  description: c.description,\n  criterion_type: mapCriterionType(c.type),          // ✅ always numeric|date|boolean|text\n  threshold_value: c.threshold_value != null ? String(c.threshold_value) : null,\n  unit: c.threshold_unit ?? null,\n  is_mandatory: c.mandatory ?? false,\n  section_reference: c.source_section ?? null,\n  order_index: i,\n\n  _meta: {\n    document_id,\n    criterion_id: c.criterion_id,\n    llm_type: c.type,                                // ← keep original for audit\n    source_text: c.source_text,\n    confidence: c.confidence,\n    requires_human_review: (c.mandatory === null) || ((c.confidence ?? 1) < 0.80),\n    extracted_by: 'mistral-7b-instruct-q4',\n    extracted_at: new Date().toISOString(),\n  }\n}));\n\nreturn [{ json: {\n  tender_id,\n  criteria: result,\n  _audit: { document_id, total: result.length }\n}}];"
      },
      "id": "e1030a39-2450-4786-a2f5-bdae31cfccde",
      "name": "Assign UUIDs & Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        144
      ],
      "notes": "Adds UUID per criterion, order_index for stable sorting, status:pending_review so officer must confirm before WF-3 starts, and requires_human_review flag for ambiguous mandatory fields."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/v1/webhooks/criteria-extracted",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{{\n  JSON.stringify({\n    tender_id: $json.tender_id,\n    criteria: $json.criteria.map(c => {\n      const { _meta, ...rest } = c;\n      return rest;\n    })\n  })\n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "184320eb-0cc7-47ab-8f7e-3e52c288e81c",
      "name": "POST Criteria to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        144
      ],
      "notes": "FastAPI stores criteria in the criteria table. UI polls for status change from 'processing' to 'pending_review' and shows the criteria list to the officer."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/audit-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tender_id\": \"{{ $('Assign UUIDs & Metadata').first().json.tender_id }}\",\n  \"event_type\": \"criteria_extraction_complete\",\n  \"actor\": \"n8n_wf2\",\n  \"entity_type\": \"tender\",\n  \"entity_id\": \"{{ $('Assign UUIDs & Metadata').first().json.tender_id }}\",\n  \"detail\": \"{{ 'Extracted ' + $('Assign UUIDs & Metadata').first().json._audit.total + ' criteria from document ' + $('Assign UUIDs & Metadata').first().json._audit.document_id }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "acb19317-62cb-494d-91d3-be01dd29a25d",
      "name": "Write Audit Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        144
      ]
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.53.0",
            "accept": "*/*",
            "cache-control": "no-cache",
            "postman-token": "a906d597-44bc-4423-87d9-d00c9213b375",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "117"
          },
          "params": {},
          "query": {},
          "body": {
            "tender_id": "9a83f846-35c3-4343-a2c8-d8f132aed7ed",
            "document_id": "a343782e-0c01-4565-b98d-08013f4efd6e"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/criteria-extraction",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Tender Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tender Document": {
      "main": [
        [
          {
            "node": "Concatenate & Trim Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate & Trim Text": {
      "main": [
        [
          {
            "node": "Extract Criteria (Mistral)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Criteria (Mistral)": {
      "main": [
        [
          {
            "node": "Parse & Validate JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate JSON": {
      "main": [
        [
          {
            "node": "Parse Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Failed?": {
      "main": [
        [
          {
            "node": "Retry — Strict Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign UUIDs & Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry — Strict Prompt": {
      "main": [
        [
          {
            "node": "Parse Retry Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Retry Response": {
      "main": [
        [
          {
            "node": "Retry Also Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Also Failed?": {
      "main": [
        [
          {
            "node": "POST Failure to FastAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign UUIDs & Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign UUIDs & Metadata": {
      "main": [
        [
          {
            "node": "POST Criteria to FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Criteria to FastAPI": {
      "main": [
        [
          {
            "node": "Write Audit Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6987019d-cc3c-43e2-a6df-d82a2876b44e",
  "meta": {
    "instanceId": "90daaa8fe0c7b89846532888f01906cdce793de9ac34a9e8673cbfa6374d23b8"
  },
  "id": "4wu77yhkJlDAahMM",
  "tags": [
    {
      "updatedAt": "2026-05-03T07:10:51.627Z",
      "createdAt": "2026-05-03T07:10:51.627Z",
      "id": "6XsC8Q7OHRCxX7YY",
      "name": "wf2-criteria"
    },
    {
      "updatedAt": "2026-05-04T12:40:30.401Z",
      "createdAt": "2026-05-04T12:40:30.401Z",
      "id": "MfJvMcgvG7qi68WG",
      "name": "Final"
    },
    {
      "updatedAt": "2026-05-03T06:36:58.799Z",
      "createdAt": "2026-05-03T06:36:58.799Z",
      "id": "Z9epEy8VH84KgNNe",
      "name": "smarttender"
    }
  ]
}